
<nav class="bg-white">
    <div class="mx-auto max-w-7xl py-6">
      <div class="relative flex h-16 justify-between">
        <div class="absolute inset-y-0 right-0 flex items-center md:hidden">
          <!-- Mobile menu button -->
          <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:ring-2 focus:ring-[var(--color-primary-dark)] focus:outline-hidden focus:ring-inset" aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
              Icon when menu is open.
  
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center md:justify-between sm:items-stretch sm:justify-start px-3">
          <div class="flex shrink-0 items-center">
            <a href="/">
              <slot name="logo" />
            </a>
          </div>
          <div class="hidden md:ml-6 md:flex md:space-x-13">
            <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
            <!-- <a href="/" class="inline-flex items-center border-b-2 border-transparent text-lg font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Home</a> -->
            <a href="/about/" class="inline-flex items-center border-b-2 border-transparent text-lg font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">About</a>
            <a href="/programs/" class="inline-flex items-center border-b-2 border-transparent text-lg font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Programs</a>
            <a href="/getInvolved/" class="inline-flex items-center border-b-2 border-transparent text-lg font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Get Involved</a>
            <a href="/contactUs/" class="inline-flex items-center border-b-2 border-transparent text-lg font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="md:hidden" id="mobile-menu">
      <div class="space-y-1 pt-2 pb-4">
        <!-- Current: "bg-indigo-50 border-indigo-500 text-indigo-700", Default: "border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700" -->
        <a href="/" class="block border-l-4 py-2 pr-4 pl-3 text-base font-medium hover:border-gray-300 hover:bg-gray-100 hover:text-gray-700">Home</a>
        <a href="/about/" class="block border-l-4 border-transparent py-2 pr-4 pl-3 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-100 hover:text-gray-700">About</a>
        <a href="/programs" class="block border-l-4 border-transparent py-2 pr-4 pl-3 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-100 hover:text-gray-700">Programs</a>
        <a href="/getInvolved/" class="block border-l-4 border-transparent py-2 pr-4 pl-3 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-100 hover:text-gray-700">Get Involved</a>
        <a href="/contactUs/" class="block border-l-4 border-transparent py-2 pr-4 pl-3 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-100 hover:text-gray-700">Contact Us</a>
      </div>
    </div>
  </nav>
  

  <script>
    const menuButton = document.querySelector('button[aria-controls="mobile-menu"]') as HTMLButtonElement;
    const mobileMenu = document.getElementById('mobile-menu') as HTMLElement;
    const [openIcon, closeIcon] = menuButton.querySelectorAll('svg');

    menuButton.addEventListener('click', () => {
      const isExpanded = menuButton.getAttribute('aria-expanded') === 'true';

      menuButton.setAttribute('aria-expanded', (!isExpanded).toString());
      mobileMenu.classList.toggle('hidden');

      openIcon.classList.toggle('hidden');
      closeIcon.classList.toggle('hidden');
    });

    // Hide the menu by default (in case it's not already hidden in HTML)
    mobileMenu.classList.add('hidden');
  </script>
  